.header{
    text-align: center;
    height: 30%;
}

.container{
    display:flex;
    height: 70%;
    
    width: 75%;
    margin: auto;
    justify-content: space-between;
}


.card{
    width: 70%;
    height: 35%;
    padding: 5% 10% 10%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card1{
    border-top: 4px solid rgba(3, 77, 77, 0.986);
    margin-top: 50%;
}
.card2{
    border-top: 4px solid rgba(218, 16, 76, 0.986);
}
.card3{
    border-top: 4px solid rgba(243, 220, 8, 0.986);
    margin-top: 20%;
}
.card4{
    border-top: 4px solid rgba(7, 27, 207, 0.986);
     margin-top: 50%;
}

.fa{
    margin-left: 70%;

}

.column2{
    justify-content: space-between;
}
